@model AddPasswordViewModel

@{ 
    ViewBag.Title = "Add Password";
} 

<div class="row">
    <div class="col-md-12">
        <div class="col-md-4 offset-4">
            <h4 class="align-content-center">You are signed in with an external accounts, to login with your email/username directly, kindly add password to enable you use local account to log in.</h4>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="col-form-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="col-form-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Change Password</button>
            </form>
        </div>
    </div>
</div>