@{
    ViewBag.Title = "Access Denied";

}
<div class="text-danger text-center">
    <h2>Access Denied</h2>
    <h6>You do not have access to view this resource</h6>
    <img src="~/images/access-denied2.jpg" asp-append-version="true" style="height:300px; width:300px;" />
</div>