@model  EditUserViewModel

@{ 
    ViewBag.Title = "Edit User";
}

<h3>Edit User</h3>
<form method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="Id" class="col-form-label col-sm-2"></label>
        <div class="col-sm-10">
            <input asp-for="Id" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Email" class="col-form-label col-sm-2"></label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="UserName" class="col-form-label col-sm-2"></label>
        <div class="col-sm-10">
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="City" class="col-form-label col-sm-2"></label>
        <div class="col-sm-10">
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-sm-10 offset-2">
            <button type="submit" class="btn btn-primary btn-sm">Update</button>
            <a asp-action="listusers" class="btn btn-warning btn-sm">Cancel</a>
        </div>
    </div>
    @*manage roles*@
    <div class="col-sm-10 offset-2">
        <div class="card mt-2">
            <div class="card-header">
                User Roles
            </div>
            <div class="card-body">
                @if (Model.Roles.Any())
                {
                    foreach (var role in Model.Roles)
                    {
                        <h4 class="card-title">@role</h4>
                    }
                }
                else
                {
                    <h5>None at the moment</h5>
                }
            </div>
            <div class="card-footer">
                <a asp-action="ManageUserRoles"  asp-route-userId="@Model.Id" class="btn btn-primary btn-sm">Manage Roles</a>
            </div>
        </div>
    </div>
    @*manage claims*@
    <div class="col-sm-10 offset-2">
        <div class="card mt-2">
            <div class="card-header">
                User Claims
            </div>
            <div class="card-body">
                @if (Model.Claims.Any())
                {
                    foreach (var claim in Model.Claims)
                    {
                        <h4 class="card-title">@claim</h4>
                    }
                }
                else
                {
                    <h5>None at the moment</h5>
                }
            </div>
            <div class="card-footer">
                <a asp-action="ManageUserClaims" asp-route-userId="@Model.Id" class="btn btn-primary btn-sm">Manage Claims</a>
            </div>
        </div>
    </div>
</form>